.actionpanel-container {
    position: absolute;
    overflow: hidden;
    bottom: 74px;
    border-radius: 4px;
    box-sizing: border-box;
    width: 0;
    height: 0;
    background-color: var(--color-normalL);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
    transition-timing-function: cubic-bezier(0, 1, 0, 1);
}

.actionpanel-container>div>*:not(:last-child) {
    margin-bottom: 8px;
}

.devicesettings-separator {
    height: 1px;
    background-color: var(--color-normal);
    padding: 0;
}