ms-fileselector {
    display: flex;
    width: 100%;
}

.fileselector-input {
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    border: 1px solid var(--color-dark);
    padding: 8px;
    background-color: var(--color-normalD);
    color: var(--color-white);
    outline: none;
    font-size: 13px;
    transition: border-color 0.2s;
    flex-grow: 1;
}

.fileselector-input:focus {
    border: 1px solid var(--color-light);
}

.fileselector-input::placeholder {
    color: var(--color-gray);
}

.fileselector-button {
    font-family: 'MSIcons';
    background-color: transparent;
    outline: none;
    border-style: solid;
    border-color: var(--color-dark);
    border-width: 1px 1px 1px 0;
    border-radius: 0 4px 4px 0;
    padding: 6px 10px 6px 10px;
    color: var(--color-white);
    font-size: 18px;
}

.fileselector-button:hover {
    background-color: var(--color-normalL);
}

.fileselector-button:active {
    background-color: var(--color-light);
}

.fileselector-input.warn {
    animation: warn 0.4s ease infinite;
}