ms-soundlist {
    padding: 4px;
    padding-top: 0;
    top: -4px;
    font-family: Roboto;
    color: var(--color-white);
    position: relative;
    box-sizing: border-box;
    font-size: 0;
    display: block;
    max-height: calc(100% - 46px);
    overflow-y: overlay;
    padding-bottom: 78px;
}

.soundlist-itemcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.soundlist-item {
    display: list-item;
    list-style: none;
    flex-grow: 1;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--color-normalL);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: background-color 0.1s, box-shadow 0.3s cubic-bezier(.25, .8, .25, 1), width 0s;
    vertical-align: middle;
}

.soundlist-item:hover:not(.dragdummy) {
    background-color: var(--color-light);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.soundlist-item:active:not(.dragdummy):not(.drag) {
    background-color: var(--color-lightL);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.soundlist-item.drag {
    transform: rotate(5deg);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 12px 10px rgba(0, 0, 0, 0.23);
}

.soundlist-empty {
    display: inline-block;
    font-size: 14px;
    margin-top: 12px;
    width: 100%;
    text-align: center;
}

.dragdummy {
    display: none;
    background-color: var(--color-normal);
    box-shadow: none;
    height: 53px;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
}

.soundlist-item span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}