ms-soundboardlist {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 50px);
    overflow-y: overlay;
}

.soundboardlist-item {
    display: flex;
    color: var(--color-white);
    font-family: Roboto;
    padding: 12px 16px 12px 16px;
    position: relative;
    transition: all 0.1s;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    height: 42px;
}

.soundboardlist-item:hover {
    background-color: var(--color-light);
}

.soundboardlist-item.selected {
    background-color: var(--color-normal);
}

.soundboardlist-item.selected .soundboardlist-item-title {
    padding-left: 22px;
}

.soundboardlist-item.selected .soundboardlist-item-indicator {
    opacity: 1;
}

.soundboardlist-item-title {
    transition: all 0.2s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin-left: -10px;
    margin-right: 6px;
}

.soundboardlist-item-indicator {
    opacity: 0;
    width: 10px;
    height: 10px;
    background-color: var(--color-white);
    border-radius: 5px;
    box-shadow: 0 0 6px var(--color-white);
    transition: all 0.2s;
    flex-shrink: 0;
}

.soundboardlist-item-desc {
    color: var(--color-gray);
    float: right;
    font-size: 12px;
    line-height: 1.45;
    flex-shrink: 0;
}