:root {
    --size: 18px;
}

ms-checkbox {
    display: block;
    font-size: initial;
}

ms-checkbox:hover .toggler-box:not(.toggled) {
    background-color: var(--color-normal);
}

ms-checkbox ms-infoballoon {
    margin-left: 8px;
}

.toggler-box {
    background-color: var(--color-normalD);
    border: 1px solid var(--color-darkL);
    border-radius: 8px;
    display: inline-block;
    width: 24px;
    height: 16px;
    vertical-align: middle;
    transition: all 0.1s;
}

.toggler-box.toggled {
    background-color: var(--color-light);
}

.toggler-pointer {
    position: relative;
    border-radius: 6px;
    background-color: var(--color-white);
    width: 12px;
    height: 12px;
    left: 2px;
    top: 2px;
    transition: left 0.2s;
    transition-timing-function: cubic-bezier(0, 1, 0, 1.5);
}

.toggler-pointer.toggled {
    left: 10px;
}

.toggler-label {
    font-size: 13px;
    vertical-align: middle;
    padding-left: 8px;
    color: var(--color-white);
    font-family: Roboto;
    line-height: 1.24;
}