ms-draggablehint {
	padding: 4px 8px;
	background-color: var(--color-green);
	border-radius: 100px;
	position: absolute;
	font-size: 12px;
	white-space: nowrap;
}

ms-draggablehint #icon {
	margin-right: 3px;
	margin-bottom: 1px;
}

ms-draggablehint #text {
	display: inline-block;
	vertical-align: middle;
}
