.icon-button {
    font-family: 'MSIcons';
    color: var(--color-white);
    font-variant-ligatures: discretionary-ligatures;
    display: inline-block;
    padding: 6px;
    font-size: 22px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-button:hover {
    background-color: var(--color-light);
}

.icon-button:active {
    background-color: var(--color-lightL);
}

.icon-button.red {
    background-color: var(--color-red);
}

.icon-button.red:hover {
    background-color: var(--color-red-light);
}

.icon-button.red:active {
    background-color: var(--color-red-lightL);
}