ms-iconbutton {
    color: var(--color-white);
    display: inline-block;
    padding: 6px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
}

ms-iconbutton i {
    font-size: 24px;
}

ms-iconbutton.hover {
    background-color: var(--color-greenL);
}

ms-iconbutton:hover {
    background-color: var(--color-light);
}

ms-iconbutton:active {
    background-color: var(--color-lightL);
}

ms-iconbutton.red {
    background-color: var(--color-red);
}

ms-iconbutton.red:hover {
    background-color: var(--color-red-light);
}

ms-iconbutton.red:active {
    background-color: var(--color-red-lightL);
}
