@import 'vars.css';

@import url('../../../node_modules/typeface-roboto/index.css');

@import 'Titlebar.css';
@import 'Modal.css';
@import 'TextField.css';
@import 'FileSelector.css';
@import 'Slider.css';
@import 'Toggler.css';
@import 'Dropdown.css';
@import 'IconButton.css';
@import 'SoundList.css';
@import 'SoundboardList.css';
@import 'ActionpanelContainer.css';
@import 'SoundSearch.css';
@import 'KeyRecorder.css';
@import 'News.css';
@import 'InfoBalloon.css';
@import 'seekbar.css';

body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--color-normalL);
    user-select: none;
    overflow: hidden;
    height: 100vh;
    perspective: 300px;
}

#filedragoverlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #0e0e1185;
    pointer-events: none;
}

button {
    padding: 8px;
    background-color: var(--color-normalL);
    border: 1px solid var(--color-light);
    color: var(--color-white);
    border-radius: 4px;
    outline: none;
    transition: background-color 0.1s;
}

button span {
    vertical-align: middle;
}

button .icon {
    line-height: 0.5;
}

button span:not(:first-child) {
    margin-left: 6px;
}

button:hover {
    background-color: var(--color-light);
}

button:active {
    background-color: var(--color-normal);
}

a {
    color: var(--color-link)
}

.label {
    font-family: Roboto;
    color: var(--color-white);
    font-size: 12px;
    display: inline-block;
}

.icon {
    font-family: 'MSIcons';
    font-size: 18px;
}

#content {
    margin-top: 30px;
    height: calc(100% - 30px);
    background-color: var(--color-normalL);
}

/* #region Tooltips */

#tooltip-layer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

.popup {
    position: absolute;
    background-color: var(--color-darkL);
    font-family: 'Roboto';
    color: var(--color-white);
    padding: 8px;
    font-size: 12px;
    box-shadow: 0 0px 18px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-width: 200px;
    text-align: center;
    transition: opacity 0.15s, transform 0.15s;
    transition-timing-function: cubic-bezier(0.15, 1.14, 0.16, 1.24);
    transform-origin: bottom center;
}

.popup.bottom {
    transform-origin: top center;
}

.popup.left {
    transform-origin: center right;
}

.popup.right {
    transform-origin: center left;
}

.popup::after {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -8px;
    left: calc(50% - 8px);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--color-darkL);
}

.popup.bottom::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--color-darkL);
    border-top: 0;
    top: -8px;
}

.popup.left::after {
    border-left: 8px solid var(--color-darkL);
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    right: -16px;
    top: calc(50% - 7px);
    left: unset;
}

.popup.right::after {
    border-left: 8px solid transparent;
    border-right: 8px solid var(--color-darkL);
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    left: -16px;
    top: calc(50% - 7px);
    right: unset;
}

/* #endregion */

/* #region IconTextButton */

.icon-text-button {
    background: none;
    outline: none;
    border: none;
    color: var(--color-white);
    padding: 8px;
    border-radius: 4px;
}

.icon-text-button:hover {
    background: var(--color-light);
}

.icon-text-button:active {
    background: var(--color-lightL);
}

.icon-text-button span {
    vertical-align: middle;
}

.icon-text-button .icon {
    font-family: 'MSIcons';
    font-size: 18px;
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
}


/* #endregion */


/* #region Left */

#panel-left {
    box-sizing: border-box;
    background-color: var(--color-normalL);
    font-size: 0;
    max-width: 350px;
    min-width: 260px;
    float: left;
    width: 35%;
    height: 100%;
}

#soundboardlistactions {
    padding: 8px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

#logo-container {
    display: inline-block;
}

#logo {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 6px;
    fill: var(--color-white);
    overflow: visible;
    background-image: url('../img/icon.svg');
    border-radius: 50%;
    transition: all 0.2s;
    border: none;
    background-size: 22px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    position: relative;
    vertical-align: top;
    padding: 0;
}

#logo:hover {
    box-shadow: 0 0 6px var(--color-white);
}

#logo-indicator {
    display: none;
    position: absolute;
    background-color: #FF9800;
    width: 10px;
    height: 10px;
    bottom: -2px;
    right: -2px;
    border-radius: 50%;
}

#update-button {
    display: none;
    margin-left: 8px;
    color: var(--color-white);
}


/* #endregion */


/* #region Right */

#right-footer {
    position: absolute;
    display: flex;
    bottom: 16px;
    left: 16px;
    right: 16px;
    gap: 16px;
    flex-direction: row-reverse;
    pointer-events: none;
}

#right-footer>* {
    pointer-events: initial;
}

#panel-right {
    box-sizing: border-box;
    background-color: var(--color-normal);
    font-size: 0;
    border-radius: 8px 0 0 0;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#soundlist-actions {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background: transparent;
    background-image: linear-gradient(0deg, transparent 0%, var(--color-normal) 10%, var(--color-normal) 100%);
    z-index: 1;
    position: relative;
    border-radius: 8px;
}

#actionpanel {
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.3);
    background-color: var(--color-normalL);
    font-size: 0;
    border-radius: 4px;
    padding: 8px;
    align-self: flex-end;
}

#actionpanel *:not(:last-child) {
    margin-right: 8px;
}

#actionpanel * {
    vertical-align: middle;
}

#actionpanel-separator {
    width: 1px;
    height: 28px;
    display: inline-block;
    background-color: var(--color-lightL);
}


/* #endregion */


/* #region Scollbar */

::-webkit-scrollbar {
    background: transparent;
    width: 1px;
    z-index: 0;
}

::-webkit-scrollbar-thumb {
    background: var(--color-lightL);
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-button {
    display: none;
}


/* #endregion */


/* #region Animations */

@keyframes warn {
    0% {
        border-color: var(--color-darkL);
        box-shadow: none
    }

    25% {
        border-color: var(--color-red);
        box-shadow: inset 0 0 4px var(--color-red);
    }

    50% {
        border-color: var(--color-darkL);
        box-shadow: none
    }

    75% {
        border-color: var(--color-red);
        box-shadow: inset 0 0 4px var(--color-red);
    }

    100% {
        border-color: var(--color-darkL);
        box-shadow: none
    }
}

/* #endregion */
