ms-seekbar {
    flex-grow: 1;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.3);
    background-color: var(--color-normalL);
    border-radius: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    gap: 8px;
}

ms-seekbar ms-slider {
    flex-grow: 1;
}

ms-seekbar span {
    color: var(--color-white);
    font-size: 14px;
}
