ms-soundlist {
	padding: 4px;
	padding-top: 0;
	top: -4px;
	font-family: Roboto;
	color: var(--color-white);
	position: relative;
	box-sizing: border-box;
	font-size: 0;
	display: block;
	max-height: calc(100% - 46px);
	overflow-y: overlay;
	overflow-x: hidden;
	padding-bottom: 78px;
}

ms-soundlist .itemcontainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-flow: dense;
}

ms-soundlist .itemcontainer .group {
	grid-column: 1 / -1;
	transition: height 1s;
	overflow: hidden;
}

ms-soundlist .info {
	display: inline-block;
	font-size: 14px;
	margin-top: 12px;
	width: 100%;
	text-align: center;
}

ms-soundlist #soundlist-dragoverlay {
	display: none;
	width: 100%;
	height: 100%;
	background-color: aliceblue;
	position: absolute;
	z-index: 1;
}
